{
  "xivlauncher_path": "C:\\path\\to\\XIVLauncher.exe",
  "roaming_paths": {
    "main_settings": null,
    "alt_settings": "C:\\path\\to\\custom\\Roaming"
  },
  "sleep_time": 10,
  "profiles": [
    {
      "main_account": true,
      "account": "main",
      "roaming_path": "main_settings",
      "oauth": "1password:Square-enix"
    },
    {
      "account": "alt1",
      "roaming_path": "alt_settings",
    },
    {
      "account": "alexflipside",
      "roaming_path": "alt_settings"
    }
  ]
}
